@inject APIManager.UserManager userManager;
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yapping</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/miniReddit.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"> <img style="height: 100px; width: 150px" src="~/img/logo.png" alt="Yapping" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                           <a id="profileLink" asp-area="" asp-page="/ProfileSettings"> <img src="~/img/stockProfileImg.png" class="profileImg" id="profileimg" /> </a>
                        </li>
                        <li>
                            <a id="messages" asp-area="" asp-page="/Messages"> <img src="~/img/messages.svg" class="messageImg" id="messageimg" /> </a>
                        </li>
                        <li>
                            <label class="WelcomeLabel" id="welcomeText"></label>
                        </li>
                        <li>
                            <a id="adminBtn" asp-page="/Admin" class="btn btn-primary adminBtn">Admin</a>
                        </li>
                    </ul>
                        <input type="button" class="btn btn-primary shadow-sm" id="authButton" value="Sign in"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2025 - miniReddit - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <div id="signInModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            @await Html.PartialAsync("SignInPartial", new miniReddit.Pages.LogInModel(userManager))
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
