@page
@model IndexSPARAModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>
<body>

        <div class="row">
            <div class="col-auto card m-1 p-1" id="indexMenu">

                <div class="dropdown m-1">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Categories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
            </div>
                <button id="newPost" class="btn btn-primary m-1">New post</button>
            </div>
    <div class="container" id="postContainer">

                <div class="row">
                    <div class="col-2 m-1 card">
                        <img class="img-thumbnail m-1" src="~/img/stockProfileImg.png" />
                        <h6 class="card-title">Username</h6>
                        <button class="btn btn-secondary m-1 p-1 text-wrap">View user</button>
                        <button class="btn btn-secondary m-1 p-1 text-break">Send message</button>
                    </div>

                    <div class="col-9 m-1 card">
                        <div class="card-header m-1">
                            <label class="card-title">Title/SubTitle</label>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Bla bla bla bla bla bla</p>
                        </div>
                            <div class="card-footer">
                                <button class="btn btn-secondary m-1">Comment <span class="badge">0</span></button>
                                <button class="btn btn-info m-1">Like
                                    <span class="badge">0</span> 
                                </button> 
                            </div>
                    </div>
                </div>
            </div>
        </div>

<div id="postModal" class="newPost">
        <div class="newPostContainer">
            <form method="post" enctype="multipart/form-data">
                <div>
                    <label asp-for="Category"></label>
                    <input asp-for="Category" />
                    <span asp-validation-for="Category"></span>
                </div>
                <div>
                    <label asp-for="Title"></label>
                    <input asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div>
                    <label asp-for="TextContent"></label>
                    <input width="100px" height="50px" asp-for="TextContent" />
                    <span asp-validation-for="TextContent"></span>
                </div>
                <div>
                        <h5 class="card-title">Only .png and .jpg allowed</h5>
                        <input type="file" asp-for="Img" />
                </div>
                <div>
                    <input id="submit" type="submit" value="Post" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
       
    <script src="/js/Index.js"></script>

</body>